{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="bs-docs-section">
      <form class="bs-component" id="addTodoForm" action="/api/v1/todos/" method="post">
        <div class="form-group">
          <fieldset>
            <label class="control-label" for="addTodo">Add todo</label>
            <input class="form-control" name="text" type="text" id="addTodo">
          </fieldset>
        </div>
      </form>
    <div id="todos">
      {% include 'todo/todo_list.html' %}
      </div>
    </div>
{% endblock content %}
